.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
  grid-template-rows: repeat(12, 100px); 
  height: 100%; 
}

#title {
  grid-column-start: 1; 
  grid-column-end: end; 
}

#friend-cousin {
  grid-column-end: span 1;
}

#sibling {
  grid-column-end: span 2; 
}

#aunt-uncle {
  grid-row-end: span 2; 
}

#grandparents {
  grid-column-end: span 2;
  grid-row-end: span 2; 
}


/* Style other types of family members below*/
